*{margin:0;padding:0;}
#main{
    margin:0 auto;
    width:1400px;
    height:248px;
    background-image:url(../images/main.jpg);
}
#navigation{
    background-color:#2e90ec;
    margin:0 auto;
    width:1400px;
    height:50px;
}
#navigation ul{
    text-align:center;
    list-style-type:none;
}
#navigation ul li{
    width:178px;
    height:50px;
    display:block;
    float:left;
    margin:0 10px;
}
#navigation ul li a{
    font-size:20px;
    line-height: 48px;
    text-decoration:none;
}
#navigation ul li:hover{
    border-radius: 5px;
    background-color:#b2d5d8;
}
#table{
    margin:0 auto;
    background-color:white;
    width:1400px;
    height:1100px;
}
.notice{
    width:600px;
    height:550px;
    background-color:white;
    float:left;
}
.notice ul{
    float:left;
    margin-left:40px;
    line-height:70px;
}
.notice img{
    float:left;
    margin-top:30px;
    margin-left:40px;
}
.news {
    width:800px;
    height:550px;
    background-color:white;
    float:left;
}
.content{
    width:375px;
    height:400px;
    float:left;
}
.news img{
    float:left;
    margin-top:30px;
    margin-left:40px;
}
.study{
    width:550px;
    height:550px;
    background-color:white;
    float:left;
}
.study img{
    float:left;
    margin-top:30px;
    margin-left:40px;
}
.educate{
    width:550px;
    height:550px;
    background-color:white;
    float:left;
}
.sitelink{
    width:270px;
    height:500px;
    background-color:white;
    float:left;
    border-bottom:1px solid black;
    border-right:1px solid black;
}
#label {
    width:1400px;
    height:100px;
    background-color:skyblue;
    text-align:center;
    margin:0 auto;
}
.first{
    font-size:35px;float:left;margin-top:27px;
}
.second{
    font-size:25px;color:#2e90ec;float:left;margin-top:40px;
}
.third{
    font-size:25px;color:#2e90ec;float:right;margin-top:45px;margin-right:40px;
}