#content{
	position:absolute;
	width:1400px;
	height:1100px;
	margin-top:288px;
	left:50%;
  transform:translateX(-50%);
	background-color:yellow;
  }
  .tong{
	position:absolute;
    width:500px;
    height:550px;
    background-color: white;
  }
  .tong li{
	margin-left:30px;
	font-size:24px;
  }
  .zhuan{
	position:absolute;
	width:900px;
	height:550px;
	margin-left:500px;
	background-color: white;
  }
  .zhuan a{
	margin-left:0;
	font-size:24px;	
  }
   .zhuan li{
	margin-left:400px;
	font-size:24px;	
  }
  .zhuan img{
	margin-top:10px;
  }
  .xue{
	position:absolute;
	width:600px;
	height:550px;
	margin-top:550px;
	background-color: white;
  }
  .xue li{
	font-size:24px;
	margin-left:30px;
  }
  .jiao{
	position:absolute;
	width:800px;
	height:550px;
	margin-top:550px;
	margin-left:600px;
	background-color:white;
  }
  .jiao li{
	font-size:24px;
	margin-left:30px;
  }
  .jiao img {
	margin-top:8px;
  }